<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.rupeng.mapper.SegmentsMapper">
	<!-- 对应Imaper接口的四个基本操作数据库语句 -->
	<insert id="insert" parameterType="Segment" >
		insert into t_segments(chapterId,seqNum,name,description,videoCode) 
		values(#{chapterId},#{seqNum},#{name},#{description},#{videoCode})
	</insert>
	
	<update id="update" parameterType="Segment">
		update t_segments 
		set
	chapterId=#{chapterId},
	seqNum=#{seqNum},
	name=#{name},
	description=#{description},
	videoCode=#{videoCode}
	where isDeleted=false and id=#{id}
	</update>
	
	<!-- 软删除设计 -->
	<delete id="delete" parameterType="long">
		update t_segments set isDeleted=true where id=#{id}
	</delete>
	
	<!-- 如果返回集合，resultType在这里会指的是集合元素的类型 -->
	<select id="select" parameterType="Segment" resultType="Segment">
		select * from t_segments 
		where
		isDeleted=false
			<if test="chapterId!=null">and chapterId=#{chapterId}</if>
			<if test="seqNum!=null">and seqNum=#{seqNum}</if>
			<if test="name!=null">and name=#{name}</if>
			<if test="description!=null">and description=#{description}</if>
			<if test="videoCode!=null">and videoCode=#{videoCode}</if>
			<if test="id!=null">and id=#{id}</if>
			
	</select>
	
	
</mapper>
