<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.rupeng.mapper.SubjectMapper">

	<!-- 对应Imaper接口的四个基本操作数据库语句 -->
	<insert id="insert" parameterType="Subject" >
		insert into t_subjects(name) values(#{name})
	</insert>
	
	<update id="update" parameterType="Subject">
		update t_subjects 
		<set>
			<if test="name!=null">name=#{name}</if>
		</set> 
		where isDeleted=false and id=#{id}
	</update>
	
	<!-- 软删除设计 -->
	<delete id="delete" parameterType="long">
		update t_subjects set isDeleted=true where id=#{id}
	</delete>
	
	<!-- 如果返回集合，resultType在这里会指的是集合元素的类型 -->
   <select id="select" parameterType="Subject" resultType="Subject">
        select * from T_Subjects
        where isDeleted=false
            <if test="id!=null"> and id=#{id} </if>
            <if test="name!=null"> and name=#{name} </if>
    </select>
	
	
</mapper>
